<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
	  <add key="FTP_FOLDER" value="C:\ftp-inbound-test\" />
	  <!-- Input & Log Setting -->
	  <add key="INPUT_FOLDER" value="Data" />
	  <add key="INPUT_ARCHIVE_FOLDER" value="Archieve" />
	  <add key="INPUT_ERROR_FOLDER" value="Error" />
	  <add key="INPUT_LOG_FOLDER" value="Log" />
	  <add key="LOG_ENABLED" value="True" />

	  <add key="FTP_HOST" value="ClientsFTPServer" />
	  <add key="FTP_USER" value="user" />
	  <add key="FTP_PASSWORD" value="SPZ]~X9&quot;C&lt;]n8vYK" />
	  <add key="FTP_FOLDER_DESTINATION" value="/Cargo" />
	  <add key="IS_FTP_ASCII" value="True" />
  </appSettings>
</configuration>